.roof{

  margin: 0% 3% 0% 4%;
  width: 65%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-top: 100px solid transparent;
  border-bottom: 140px solid ;
  border-right: 200px solid transparent;
  border-left: 200px solid transparent;
}

.land{
  margin: 0% 3% 0% 3%;
}